<!DOCTYPE html>
<html  lang="en">


<body>


    
    <form action="forget_password" method="POST">
        <input type="email" name="email" placeholder="Email" required autofocus>
       
        <button type="submit">Sign in</button>
        

        <p><a href="/login" >Sign-in</a></p>
    </form>


    <% include ../extras/footer.ejs %>
</body>
</html>