<!DOCTYPE html>
<html  lang="en">


<body>

    <% if (typeof error !== 'undefined' && error && error !== 'none') {  %>
            <%=error%>
        <% } %>
    <% if (typeof success !== 'undefined' && success && success !== 'none') {  %> 
            <%=success%>
    <% } %>
    
    <form action="login" method="POST" style="text-align: center">
        <input type="username"  name=username placeholder="Username" required><br />
        <input type="password"  name="password" placeholder="Password" required><br />
       
        <button type="submit">Sign in</button>
        <p><a href="/forgotPassword" >Forgot Password</a></p>

        <p><a href="/register" >Create Account</a></p>

    </form>
    <% include ../extras/footer.ejs %>
</body>
</html>