<!DOCTYPE html>


<body>
        <% if (typeof error !== 'undefined' && error && error !== 'none') { 
            %>
              <%=error%>
        <% } %>
        <% if (typeof success !== 'undefined' && success && success !== 'none') { 
            %>
              <%=success%>
        <% } %>
        <form action="register" method="post">
            <input type="username" name=username placeholder="Username" required autofocus>

            <input type="name"  name=firstname placeholder="firstname" required >

            <input type="name"  name=lastname placeholder="lastname" required >

            <input type="email" name=email placeholder="Email address" required>

            <input type="password" name="password" placeholder="Password" required>

           <p> <button type="submit">Register</button> </p>
            <p><a href="/login">Sign-in</a></p>
        </form>
        <% include ../extras/footer.ejs %>
    </body>
</html>