<!DOCTYPE html>

<body>
        <% if (typeof error !== 'undefined' && error && error !== 'none') { 
            %>
              <%=error%>
        <% } %>
        <% if (typeof success !== 'undefined' && success && success !== 'none') { 
            %>
              <%=success%>
        <% } %>
        <form action="register" method="post" style="text-align: center;">
            <h1>REGISTER</h1>
            <input type="username" name=username placeholder="Username" required>
            <br>
            <input type="name"  name=firstname placeholder="firstname" required >
            <br>
            <input type="name"  name=lastname placeholder="lastname" required >
            <br>
            <input type="email" name=email placeholder="Email address" required>
            <br>
            <input type="password" name="password" placeholder="Password" required>
            <br>
           <p> <button type="submit">Register</button> </p>
            <p><a href="/login">Sign-in</a></p>
        </form>
        <% include ../extras/footer.ejs %>
    </body>
</html>