<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../extras/head.ejs %>
</head>

<body id="form-conn">
        <% if (typeof error !== 'undefined' && error && error !== 'none') { 
            %>
              <%-error%>
        <% } %>
        <% if (typeof success !== 'undefined' && success && success !== 'none') { 
            %>
              <%-success%>
        <% } %>
        <section>
        <form style="padding-right: 0%;" action="register" method="post">
            <input type="username" name=username placeholder="Username" required autofocus>

            <input type="name"  name=firstname placeholder="Your firstname" required >

            <input type="name"  name=name placeholder="Your Name" required >

            <input type="email" name=email placeholder="Email address" required>

            <input type="password" name="password" placeholder="Password" required>

           <p> <button type="submit">Register</button> </p>
            <p><a href="/login">Sign-in</a></p>
        </form>
    </section>
        <% include ../extras/footer.ejs %>
    </body>


</html>