<style>
    .footer {
        /* position: fixed; */
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgb(0, 0, 0);
      color: rgb(253, 7, 7);
      text-align: center;
    }
    </style>
    
    <div class="footer">
      <strong><p>kmodise&copy</p></strong>
    </div>
