<nav>
  <div>
    <a href="/profile">My Profile</a>
    <a style="margin-left: 70px"  href="/myMatch">My matches</a>
    <a style="margin-left: 150px"  href="/loveField">check someone out</a>
    <a style="margin-left: 210px"  href="/logout">Logout</a>
  </div>
</nav>

<div style="border-radius: 7px; height: 100px; margin-top: 10px; padding: 5px; overflow: auto; border: 1px solid red">
    <%  var i = 0;
        while (notif[i]) { %>
          <div>
            <p> <%- notif[i].notif %> </p>
          </div><hr />
    <% i++; }  %>
</div>
</div>